* {
    background-color: darkslateblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
math {font-size: 48px;}
#question {font-size: 90px;}