table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background: #f4f4f4;
    color: black;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

h2 {
    font-family: 'Georgia', serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

hr {
    border-color: rgba(0, 0, 0, 0);
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}